@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

@keyframes move-beack {
    100% {transform: rotate(10deg);}
}

@keyframes move-eye {
    25% {transform: translate(1em, 1em)}
    40% {transform: translate(1.3em, -2em)}
    75% {transform: translate(-2.5em, 0)}
}

.move-beack {
    animation-name: move-beack;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.move-eye {
    animation-name: move-eye;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

body {
    margin: 0;
    padding: 0;
    font-family: Play;
    font-size: 16px;
    line-height: 1.3em;
    color:black;
}

ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


header {
    min-height: 100px;
}

.line {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

section {
    min-height: 400px;
    width: 820px;
    margin: 0 auto;
    padding: 20px 0;
}

.main-area {
    display: flex;
    flex-direction: column;
}

.container-large {
    margin: 0 auto;
    max-width: 1015px;
}

.header-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo,
.header-search {
    flex-basis: 45%;
}

.header-search form {
    position: relative;
    display: flex;
}

.logo h1 {
    font-size: 44px;
}

.logo .logo-text {
    height: 50px;
    padding: 0 5px;
    color: black;
    background: linear-gradient(98.65deg, #00B663 -5.74%, #FF9E02 105.18%);
}

.header-search input {
    width: 100%;
    height: 50%;
    padding: 10px;
    padding-left: 13px;
    padding-right: 100px;
    background-color: white;
    color: black;
    border: 1px solid #00B663;
    border-radius: 15px;
}

.header-search input:focus {
    outline-color:#00B663;
}

.header-search button {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    border: none;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: bold;
    color: white;
    background-color: #09a53d;
}

.description {
    display: flex;
    justify-content: space-evenly;
}

.description .description-text {
    width: 45%;
}

.description .description-image {
    width: 30%;
    height: 0;
    padding-top: 30%;
    position: relative;
}

.description svg {
    position: absolute;
    top: 0;
    left: 0;
}


.alphabet {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 20px 0;
}

.alphabet .letter-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
}

.alphabet a {
    width: 44px;
    height: 44px;
    font-size: 44px;
    line-height: 44px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}


.alphabet a:hover {
    color: #00B663;  
    transform: scale(1.7);
    text-shadow: 1px 1px 0 gray;
}

.about {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.about-box {
    margin: 25px 0;
    max-width: 30%;
}

.footer-title {
    font-size: 20px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.social-icons li {
    width: 40px;
    margin-right: 10px;
    opacity: 0.7;
    transition: 0.3s;
}

.social-icons li:hover {
    opacity: 1;
    transform: scale(1.1);
}

.partners .partner-name {
    font-weight: bold;
}

.partners dd {
    margin-bottom: 10px;
}

.autor {
    text-align: center;
    padding: 5px 0;
}

